In [22]:
#importando biblioteca
import numpy as np
import pandas as pd

import matplotlib as mpl
import matplotlib.pyplot as plt

import seaborn as sns
import seaborn.objects as so

import json

In [23]:
#importando o BD
#add encoding padrao e informar o separador
df = pd.read_csv('policecalls.csv', sep=',', encoding= 'cp1252')

#mostrar as 5 primeiras linhas do DataFrame
df.head()

         date             type      lat      lng
0  2005-01-01  PROPERTY CRIMES -3.73784 -38.5554
1  2005-01-01  PROPERTY CRIMES -3.83914 -38.5606
2  2005-01-01  PROPERTY CRIMES -3.72623 -38.5778
3  2005-01-01  PROPERTY CRIMES -3.79500 -38.5010
4  2005-01-01  PROPERTY CRIMES -3.72222 -38.4813

In [24]:
#analisando as variÃ¡veis
print (df.dtypes)

date     object
type     object
lat     float64
lng     float64
dtype: object

In [25]:
df['date'] = pd.to_datetime( df['date'])
print (df.dtypes)

date    datetime64[ns]
type            object
lat            float64
lng            float64
dtype: object

In [26]:
df['lat']

0        -3.73784
1        -3.83914
2        -3.72623
3        -3.79500
4        -3.72222
           ...
135755   -3.73484
135756   -3.71085
135757   -3.78914
135758   -3.73285
135759   -3.74438
Name: lat, Length: 135760, dtype: float64

In [28]:
# Abrir arquivo
df = json.load(open(policecalls.csv))
# Extrair valores lat/lon
endereco = date['results'][0]['formatted_address']

NameError: name 'policecalls' is not defined

In [8]:
#total de ocorrencias em Fortaleza?
df.count()

date    135760
type    135760
lat     135760
lng     135760
dtype: int64

In [17]:
#quantas escolas de ensino por estado?
df['date'].value_counts(dropna=False)

2007-01-14    597
2007-02-10    557
2007-02-11    536
2007-01-07    533
2007-01-21    532
             ...
2007-06-25     46
2005-02-15     42
2006-08-10     41
2006-10-25     39
2007-04-23     31
Name: date, Length: 873, dtype: int64

In [16]:
print( df.sort_values('date[PROPERTY CRIMES]',ascending=True) )

KeyError: 'date[PROPERTY CRIMES]'

In [9]:
#quantas ocorrencias de Property Crimes x Disturbing the Place?
df['type'].value_counts()

PROPERTY CRIMES         81911
DISTURBING THE PEACE    53849
Name: type, dtype: int64

In [30]:
from geopy.geocoders import ArcGIS

ModuleNotFoundError: No module named 'geopy'